@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);

*{
  font-family: "cwTeXFangSong", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a{
    color: inherit;
    text-decoration: none;
}

section {
    padding: 100px 0px;
}

/*title*/

.section-title {
    font-size: 3rem;
    color: #272727;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 80px;
}

.section-title:before {
    content: "";
    position: absolute;
    width: 140px;
    bottom: 0;
    left: 50%;
    margin-left: -70px;
    height: 1px;
    background: #ccc;
}

.section-title:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -11px;
    left: 50%;
    margin-left: -12px;
    border: 5px solid #fff;
    border-radius: 20px;
    background: #555;
}


/*member*/
#member a{
    color: #fff;
}

.card-img-overlay{
    display: inline;
    opacity: 0;
}


.card-img-overlay:hover{
    transition: .5s ease;
    opacity: 1;
    background-color: rgb(30, 136, 168, 0.8);
}


.card{
    max-width: 490px;
}

.card img{
    max-width: 490px;
    height: 20rem;
    object-fit: cover;
}


#member p{
    font-size: 1rem;
}


@media only screen and (max-width: 768px) {
    .card{
        margin-bottom: 20px;
    }
}



/*footer*/

footer {
    font-size: 1rem;
    color: #fff;
    background: #006284 none repeat scroll 0% 0%;
    padding: 30px 0px;
}

/*scroll to top*/
#toTop{
	position: fixed;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	display: none;
}


/*Caroline note css*/
#note a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

#note a:hover, a:active {
    color: #777;
}

#note h2{
    padding-bottom: 10px;
    margin: 50px 0px 10px 0px;
    text-align: center;
    border-bottom: 3px #eee solid;
}
#note h3{
    margin: 30px 0px 20px 0px;;
}

#note pre code{
    display: block;
    background: #eee;
    padding: 20px;
    border-radius: 5px;
}